---
import LinksList from "@components/_molecules/LinksList.astro";
import SocialsList from "@components/_molecules/SocialsList.astro";
const currentYear = new Date().getFullYear();
---

<div class="flex flex-row items-center justify-center h-[80px] px-4 md:px-8">
	<p class="text-base text-bold text-white">&copy; {currentYear} FRANCO PERON</p>
	<!-- <LinksList /> -->
</div>

