---

// Component Imports

//Layout
import Layout from "@layouts/Layout.astro";

// Molecules
import IndexContact from "@components/_organisms/IndexContact.astro";

---

<Layout title="Contact" description="">
  <h3 class="text-5xl text-center font-normal">Contacto</h3>
  <IndexContact />
</Layout>
