---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import { getCollection } from "astro:content";

//-----------------------------------------------------------------

// Component Imports

//Layout
import Layout from "@layouts/Layout.astro";
// import Grid from "@components/layout/container/Grid.astro";

// Atoms
import Icon from "@components/_atoms/icons/Icon.astro";
import IndexDiver from "@components/_atoms/IndexDiver.astro";

// Molecules
import PreviewWork from "@components/_molecules/PreviewWork.astro";
import PreviewProject from "@components/_molecules/PreviewProject.astro";

// Organisms
import IndexSection from "@components/_organisms/IndexSection.astro";
import IndexHero from "@components/_organisms/IndexHero.astro";
import IndexContact from "@components/_organisms/IndexContact.astro";

//-----------------------------------------------------------------

// Content Fetching: List four most recent work projects
const works = (await getCollection("work"))
  .sort(
    (a: { data: { publishDate: Date } }, b: { data: { publishDate: Date } }) =>
      b.data.publishDate.getTime() - a.data.publishDate.getTime()
  )
  .slice(0, 4);

const projects = (await getCollection("project"))
  .sort(
    (a: { data: { publishDate: Date } }, b: { data: { publishDate: Date } }) =>
      b.data.publishDate.getTime() - a.data.publishDate.getTime()
  )
  .slice(0, 4);
---

<Layout title="Incio" description="">
    <IndexHero
      subtitle="Hola ! mi nombre es "
      title="Franco Peron"
      title2="Desarrollador Frontend "
      description="Tengo más de 4 años de experiencia programando y estudio de forma autodidacta Diseño UX/UI."
    />

    <IndexDiver type="curvo" />

    <IndexSection
      title="Trabajos"
      tagline="Algunos de mis trabajos realizados para clientes"
    >
      <Icon
        slot="icon-slot"
        icon="work-symbol"
        size="50px"
        color="var(--gray-0)"
      />
      <div class="flex flex-col gap-12" slot="preview-slot">
        {works.map((work: any) => <PreviewWork post={work} />)}
      </div>
    </IndexSection>

    <IndexDiver type="recto" />

    <IndexSection title="Proyectos" tagline="Mis proyectos personales">
      <Icon
        slot="icon-slot"
        icon="project-symbol"
        size="50px"
        color="var(--gray-0)"
      />
      <div class="flex flex-col lg:flex-row gap-12" slot="preview-slot">
        {projects.map((project: any) => <PreviewProject post={project} />)}
      </div>
    </IndexSection>

    <IndexDiver type="recto" />

    <IndexContact />
    
</Layout>
