---
import { getCollection } from "astro:content";

//-----------------------------------------------------------------

// Component Imports

//Layout
import Layout from "@layouts/Layout.astro";

// Atoms
import Icon from "@components/_atoms/icons/Icon.astro";

// Molecules
import PreviewProject from "@components/_molecules/PreviewProject.astro";

// Organisms
import IndexSection from "@components/_organisms/IndexSection.astro";

const projects = (await getCollection("project"))
  .sort(
    (a: { data: { publishDate: Date } }, b: { data: { publishDate: Date } }) =>
      b.data.publishDate.getTime() - a.data.publishDate.getTime()
  )
  .slice(0, 4);
---

<Layout title="Proyectos" description="">

  <IndexSection title="Proyectos" tagline="Mis proyectos personales">
   
    <div class="flex flex-col lg:flex-row gap-12" slot="preview-slot">
      {projects.map((project: any) => <PreviewProject post={project} />)}
    </div>
  </IndexSection>

</Layout>
