---
const textLinks: { label: string; href: string }[] = [
  { label: "Inicio", href: "/" },
  { label: "Trabajos", href: "/works/" },
  { label: "Proyectos", href: "/projects/" },
  { label: "Blog", href: "/blog" },
  { label: "Contacto", href: "/contact" },
];
---

<ul class="nav-items gap-4 md:gap-0">
  {
    textLinks.map(({ label, href }) => (
      <li>
        <a
          aria-current={Astro.url.pathname === href}
          class:list={[
            "link",
            {
              active:
                Astro.url.pathname === href ||
                (href !== "/" && Astro.url.pathname.startsWith(href)),
            },
          ]}
          href={href}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>


<style>
  .nav-items {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* gap: .75rem; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    list-style: none;
    padding: 2rem;
    background-color: #13151a;
    /* border-bottom: 1px solid #e3e6ee; */
  }

  .link {
    display: inline-block;
    color: #9aa6ca;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.76px;
  }

  .link.active {
    color: white;
  }


  @media (min-width: 768px) {

    .nav-items {
      position: relative;
      flex-direction: row;
      /* font-size: var(--text-sm); */
      /* border-radius: 999rem; */
      border: 0;
      padding: 0.5rem 0.5rem;
      /* background: radial-gradient(var(--gray-900), var(--gray-800) 150%); */
      background: transparent;
      /* box-shadow: var(--shadow-md); */
    }

    .link {
      padding: 0.5rem 1rem;
      border-radius: 999rem;
      transition:
        color var(--theme-transition),
        background-color var(--theme-transition);
    }

    .link:hover,
    .link:focus {
      color: #a3acc8;
      /* background-color: var(--accent-subtle-overlay); */
    }
  }
</style>
