---
import Icon from "@components/_atoms/icons/Icon.astro";
import Foto from "@components/index/Foto.astro";
import HeroLine from "@components/index/HeroLine.astro";

interface Props {
  title: string;
  title2: string;
  tagline?: string;
  tagline2?: string;
}

const { tagline, tagline2, title, title2 } = Astro.props;
---

<div class="heroBox">
  <Foto />

  <div class="heroInfo stack gap-4 lg:gap-8">
    <div>
      <p class="title">{title}</p>
      <h1 class="title2">{title2}</h1>
    </div>
    <HeroLine />
    {tagline && <p class="tagline">{tagline}</p>}
    <div class="row gap-4 lg:gap-8">
      <a class="btn" href="cv-pranco-peron.pdf" download="cv-pranco-peron.pdf">
        <p class="btn-text">Descargar CV</p>
        <Icon icon="arrow-down" size="16px" />
      </a>
      <a class="btn" href="Concat">
        <p class="btn-text">Contáctame</p>
        <Icon icon="paper-plane" size="16px" />
      </a>
    </div>
  </div>
</div>

<style>
  .heroBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .heroImg {
    /* aspect-ratio: 3 / 4; */
    width: 100%;
    max-width: 320px;
    object-fit: cover;
  }

  .heroInfo {
    align-items: center;
  }

  .divider {
    display: none;
  }

  .title {
    font-size: 48px;
    color: white;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
  }
  .title2 {
    font-size: var(--text-5xl);
    /* font-size: 60px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .tagline {
    font-size: var(--text-lg);
    text-align: center;
    font-weight: 300;
    line-height: 110%;
    max-width: 36ch;
  }

  @media (min-width: 60em) {
    .heroInfo {
      align-items: start;
    }

    .heroBox {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }

    .divider {
      display: block;
    }

    .title {
      text-align: start;
      /* font-size: var(--text-5xl); */
    }

    .tagline {
      text-align: start;
      max-width: 100%;
      color: var(--gray-0);
      font-size: var(--text-xl);
    }
  }
</style>